@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --color-primario: #E9ECF8;


    --fuente-inter: "Inter";
}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 2%;
    font-family: var(--fuente-inter);
}

.presentacion{
    display: flex;
    
    padding: 6% 6%;
    justify-content: space-between;
    gap: 80px;  
}

.presentacion__contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.presentacion__contenido__caja{
    background-color: var(--color-primario);
    border: none;
    resize: none;
    font-family: var(--fuente-inter);
    font-size: 32px;
    
}

.presentacion__contenido__terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.presentacion__contenido__terminos__img{
    width: 2%;
    padding: 1%;

}

.presentacion__contenido__terminos__mensaje{
    font-family: var(--fuente-inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #898989;
}

.presentacion__botones{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.presentacion__contenido__boton1{
    width: 50%;
    text-align: center;
    border-radius: 24px ;
    padding: 24px 0;
    font-family: var(--fuente-inter);
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0A3871;
    border: 2px solid #0A3871;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__contenido__boton2{
    width: 50%;
    text-align: center;
    border-radius: 24px ;
    padding: 24px 0;
    font-family: var(--fuente-inter);
    font-size: 17px;
    font-weight: 400;
    color: #0A3871;
    cursor: pointer;
    background-color: var(--color-primario);
    border: 2px solid #0A3871;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__contenido__caja__encriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje__encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 15px;
    text-align: center;
    
}

.mensaje{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: var(--fuente-inter);
    font-size: 24px;
    resize: none;
    border: none;
    width: 95%;
    height: 100%;
    position: absolute;
    background: transparent;
    border-radius: 32px;
    padding: 2%;
}

.mensaje__encriptado__titulo{
    width: 60%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #343A40;
}

.mensaje__encriptado__parrafo{
    width: 80%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}


.presentacion__imagen{
    align-items: center;
    padding: 10%;
    width: 75%;
}

.footer{
    background-color: #0A3871;
    padding: 20px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    font-weight: 250;
}

.presentacion__contenido__caja::placeholder{
    color: #0A3871;
}

.mensaje:focus{
    outline: none;
}

.presentacion__contenido__caja:focus,
.presentacion__contenido__caja:active{
    border: none;
    outline: none;
}

.presentacion__contenido__boton1:hover{
    background-color: #465a72f1;
}

.presentacion__contenido__boton2:disabled{
    background: #898989;
}


@media (max-width: 1200px) and (min-width: 375px){
    .presentacion{
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .presentacion__contenido{
        width: auto;
    }

    .presentacion__contenido__caja{
        width: 100%;
        
    }

    .presentacion__botones{
        flex-direction: row;
    }

    .presentacion__contenido__boton{
        font-size: 11px;
        width: auto;
    }

    .presentacion__contenido__caja__encriptado{
        width: 100%;
        height: 170px;
    }
    
    .presentacion__imagen{
        display: none;
    }

    .footer{
        font-size: 1rem;
        font-weight: 200;
    }
}